In [13]:
import pickle
# https://www.kaggle.com/submarineering/submarineering-even-better-public-score-until-now
ens_file = 'all_xgb_sub_fold_3_rnd_42_1244.csv' # 1244
other_files = [
    '../results/cnn_1_aug_1_fold8.csv',
    '../results/cnn_2_aug_1_fold8.csv',
    '../results/cnn_3_aug_1_fold8.csv',
    '../results/cnn_5_aug_1_fold8.csv',
    '../results/cnn_4_aug1_best_acc_sub.csv',
    '../results/incept_aug1_sub.csv',
    '../results/resnet_aug1_sub.csv',
    '../results/xception_aug1_sub.csv',
    '../results/vgg_aug1_sub.csv',
    '../features/other_model_gbrt2.pkl',
    '../features/other_model_lgb2.pkl',
    '../features/other_model_lr2.pkl',
    '../features/other_model_rf2.pkl',
    '../features/other_model_xgb2.pkl',
]

import pandas as pd
best_df = pd.read_csv(ens_file)
best_df.head()

         id  is_iceberg
0  5941774d    0.016633
1  4023181e    0.721887
2  b20200e4    0.041840
3  e7f018bb    0.997654
4  4371c8c3    0.099043

In [14]:
other_res = []
for f in other_files:
    if f.endswith('csv'):
        other_res.append(pd.read_csv(f).is_iceberg.values)
    else:
        with open(f,'rb') as fin:
            a,b = pickle.load(fin)
            other_res.append(b.flatten())
    
import numpy as np
other_res = np.vstack(other_res).T

In [15]:
concat_df = pd.DataFrame(other_res,columns=['a{}'.format(i) for i in range(len(other_files))])
concat_df['base'] = best_df.is_iceberg
concat_df.head()

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,base
0,0.195756,0.134401,0.144608,0.296872,0.066792,0.093266,0.209001,0.038126,0.047048,0.125865,0.141511,1.430462e-02,0.389589,0.134683,0.016633
1,0.986309,0.861850,0.919460,0.961062,0.937345,0.963237,0.701245,0.899046,0.724682,0.646595,0.945121,1.000000e+00,0.664402,0.878118,0.721887
2,0.936076,0.572117,0.543071,0.213261,0.238906,0.185977,0.055742,0.327146,0.228813,0.562446,0.312999,7.389628e-38,0.378330,0.536110,0.041840
3,0.998148,0.995843,0.996963,0.998587,0.992169,0.999560,0.996637,0.973960,0.997117,0.994916,0.982090,9.992191e-01,0.942157,0.979548,0.997654
4,0.800216,0.006921,0.064853,0.419967,0.356168,0.466361,0.009555,0.401795,0.084673,0.899276,0.923296,1.000000e+00,0.689455,0.876706,0.099043

In [16]:
concat_df.corr()

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,base
a0,1.000000,0.805236,0.799597,0.762765,0.782289,0.696394,0.586376,0.684978,0.730108,0.712897,0.795483,0.715013,0.806122,0.788570,0.695884
a1,0.805236,1.000000,0.962575,0.887545,0.892243,0.787986,0.768115,0.825611,0.888263,0.718179,0.751659,0.621216,0.757281,0.745628,0.878740
a2,0.799597,0.962575,1.000000,0.866912,0.855166,0.715269,0.707056,0.760176,0.854904,0.706119,0.737775,0.577931,0.726991,0.739412,0.822113
a3,0.762765,0.887545,0.866912,1.000000,0.904974,0.842154,0.805658,0.843053,0.800732,0.684449,0.742016,0.680534,0.760602,0.720878,0.864775
a4,0.782289,0.892243,0.855166,0.904974,1.000000,0.884554,0.859869,0.886534,0.815577,0.688177,0.733725,0.690478,0.767998,0.721820,0.871187
a5,0.696394,0.787986,0.715269,0.842154,0.884554,1.000000,0.922659,0.947634,0.734770,0.611294,0.650376,0.690432,0.738159,0.625591,0.848749
a6,0.586376,0.768115,0.707056,0.805658,0.859869,0.922659,1.000000,0.929019,0.694257,0.580110,0.582144,0.601753,0.672472,0.573842,0.811729
a7,0.684978,0.825611,0.760176,0.843053,0.886534,0.947634,0.929019,1.000000,0.769097,0.621297,0.647414,0.648616,0.734875,0.625761,0.866018
a8,0.730108,0.888263,0.854904,0.800732,0.815577,0.734770,0.694257,0.769097,1.000000,0.642495,0.659422,0.543989,0.706487,0.650344,0.841867
a9,0.712897,0.718179,0.706119,0.684449,0.688177,0.611294,0.580110,0.621297,0.642495,1.000000,0.906386,0.703034,0.849713,0.937020,0.758000
a10,0.795483,0.751659,0.737775,0.742016,0.733725,0.650376,0.582144,0.647414,0.659422,0.906386,1.000000,0.805296,0.910549,0.982301,0.750814
a11,0.715013,0.621216,0.577931,0.680534,0.690478,0.690432,0.601753,0.648616,0.543989,0.703034,0.805296,1.000000,0.802869,0.777537,0.685578
a12,0.806122,0.757281,0.726991,0.760602,0.767998,0.738159,0.672472,0.734875,0.706487,0.849713,0.910549,0.802869,1.000000,0.902301,0.787172
a13,0.788570,0.745628,0.739412,0.720878,0.721820,0.625591,0.573842,0.625761,0.650344,0.937020,0.982301,0.777537,0.902301,1.000000,0.735518
base,0.695884,0.878740,0.822113,0.864775,0.871187,0.848749,0.811729,0.866018,0.841867,0.758000,0.750814,0.685578,0.787172,0.735518,1.000000

In [17]:
concat_df.corr().mean()

# a0      0.640213
# a1      0.775139
# a2      0.752027
# a3      0.775800
# a4      0.794752
# a5      0.766002
# a6      0.741070
# a7      0.785623
# a8      0.770391
# a9      0.744807
# a10     0.761894
# a11     0.697090
# a12     0.763554
# a13     0.766731
# base    0.641168
# dtype: float64
# choose a0,a2,a6,a9,others 1, score 1322
# use all , other 2nd version, score 1316

a0      0.757447
a1      0.819352
a2      0.788800
a3      0.811136
a4      0.823639
a5      0.779735
a6      0.739671
a7      0.786005
a8      0.755488
a9      0.741278
a10     0.777024
a11     0.702952
a12     0.794906
a13     0.768435
base    0.814543
dtype: float64

In [18]:

print(other_res.shape)
other_median = np.median(other_res,axis=1)
print(other_median[:5])
other_mean = np.mean(other_res,axis=1)
print(other_mean[:5])

(8424, 14)
[ 0.13454209  0.90925287  0.32007252  0.99624008  0.44316367]
[ 0.14513006  0.8634624   0.36364236  0.98906531  0.49994581]

In [19]:
concat_sub = concat_df.copy()
concat_sub['is_iceberg_base'] = best_df['is_iceberg']
all_files_cnt = len(other_files)+1
concat_sub['is_iceberg_max'] = concat_sub.iloc[:, 0:all_files_cnt].max(axis=1)
concat_sub['is_iceberg_min'] = concat_sub.iloc[:, 0:all_files_cnt].min(axis=1)
concat_sub['is_iceberg_mean'] = concat_sub.iloc[:, 0:all_files_cnt].mean(axis=1)
concat_sub['is_iceberg_median'] = concat_sub.iloc[:, 0:all_files_cnt].median(axis=1)

concat_sub.head()

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,base,is_iceberg_base,is_iceberg_max,is_iceberg_min,is_iceberg_mean,is_iceberg_median
0,0.195756,0.134401,0.144608,0.296872,0.066792,0.093266,0.209001,0.038126,0.047048,0.125865,0.141511,1.430462e-02,0.389589,0.134683,0.016633,0.016633,0.389589,1.430462e-02,0.136564,0.134401
1,0.986309,0.861850,0.919460,0.961062,0.937345,0.963237,0.701245,0.899046,0.724682,0.646595,0.945121,1.000000e+00,0.664402,0.878118,0.721887,0.721887,1.000000,6.465948e-01,0.854024,0.899046
2,0.936076,0.572117,0.543071,0.213261,0.238906,0.185977,0.055742,0.327146,0.228813,0.562446,0.312999,7.389628e-38,0.378330,0.536110,0.041840,0.041840,0.936076,7.389628e-38,0.342189,0.312999
3,0.998148,0.995843,0.996963,0.998587,0.992169,0.999560,0.996637,0.973960,0.997117,0.994916,0.982090,9.992191e-01,0.942157,0.979548,0.997654,0.997654,0.999560,9.421567e-01,0.989638,0.996637
4,0.800216,0.006921,0.064853,0.419967,0.356168,0.466361,0.009555,0.401795,0.084673,0.899276,0.923296,1.000000e+00,0.689455,0.876706,0.099043,0.099043,1.000000,6.920645e-03,0.473219,0.419967

In [20]:
cutoff_lo = 0.8
cutoff_hi = 0.2
concat_sub['is_iceberg'] = np.where(np.all(concat_sub.iloc[:,0:all_files_cnt] > cutoff_lo, axis=1), 
                                    concat_sub['is_iceberg_max'], 
                                    np.where(np.all(concat_sub.iloc[:,0:all_files_cnt] < cutoff_hi, axis=1),
                                             concat_sub['is_iceberg_min'], 
                                             concat_sub['is_iceberg_base']))
#concat_sub['is_iceberg'] = np.clip(concat_sub['is_iceberg'].values, 0.001, 0.999)
concat_sub['id'] = best_df['id']
concat_sub[['id', 'is_iceberg']].to_csv('stack_minmax_bestbase3.csv', 
                                        index=False)

concat_sub[['id', 'is_iceberg']].head(10)

         id    is_iceberg
0  5941774d  1.663269e-02
1  4023181e  7.218869e-01
2  b20200e4  4.184009e-02
3  e7f018bb  9.995600e-01
4  4371c8c3  9.904339e-02
5  a8d9b1fd  1.527052e-01
6  29e7727e  2.950247e-04
7  92a51ffb  9.999459e-01
8  c769ac97  6.185342e-09
9  aee0547d  1.118503e-12

In [21]:
diff_res = concat_sub['is_iceberg']-concat_sub['base']
print(type(diff_res))
cnt = np.where(diff_res!=0)
print(cnt[0].shape)
print(concat_sub['is_iceberg'].std())

<class 'pandas.core.series.Series'>
(1728,)
0.394856262909

In [22]:
cutoff_lo = 0.85
cutoff_hi = 0.15
concat_sub['is_iceberg'] = np.where(np.all(concat_sub.iloc[:,0:all_files_cnt] > cutoff_lo, axis=1), 
                                    concat_sub['is_iceberg_max'], 
                                    np.where(np.all(concat_sub.iloc[:,0:all_files_cnt] < cutoff_hi, axis=1),
                                             concat_sub['is_iceberg_min'], 
                                             concat_sub['is_iceberg_base']))
#concat_sub['is_iceberg'] = np.clip(concat_sub['is_iceberg'].values, 0.001, 0.999)
concat_sub['id'] = best_df['id']
concat_sub[['id', 'is_iceberg']].to_csv('stack_minmax_bestbase4.csv', 
                                        index=False)

concat_sub[['id', 'is_iceberg']].head(10)

         id    is_iceberg
0  5941774d  1.663269e-02
1  4023181e  7.218869e-01
2  b20200e4  4.184009e-02
3  e7f018bb  9.995600e-01
4  4371c8c3  9.904339e-02
5  a8d9b1fd  1.527052e-01
6  29e7727e  2.950247e-04
7  92a51ffb  9.999459e-01
8  c769ac97  6.185342e-09
9  aee0547d  1.118503e-12

In [23]:
diff_res = concat_sub['is_iceberg']-concat_sub['base']
print(type(diff_res))
cnt = np.where(diff_res!=0)
print(cnt[0].shape)
print(concat_sub['is_iceberg'].std())

<class 'pandas.core.series.Series'>
(1493,)
0.394619776165