In [9]:
import pandas as pd
df1 = pd.read_csv('vggbnw_fcn_en.csv')
print(df1.head())
df2 = pd.read_csv('submission54.csv')
print(df2.head())

         id  is_iceberg
0  000c65d7    0.969171
1  001680af    0.319137
2  00193999    0.975653
3  00247e48    0.993207
4  00503faa    0.001801
         id  is_iceberg
0  5941774d    0.005586
1  4023181e    0.031688
2  b20200e4    0.001000
3  e7f018bb    0.999000
4  4371c8c3    0.022151

In [14]:
df3 = pd.merge(df2,df1,on='id')
df3.head()
df3['is_iceberg'] = df3['is_iceberg_y']

df3[['id','is_iceberg']].to_csv('vgg_new.csv', index=False)
df3.head()

         id  is_iceberg_x  is_iceberg_y  is_iceberg
0  5941774d      0.005586      0.030369    0.030369
1  4023181e      0.031688      0.364333    0.364333
2  b20200e4      0.001000      0.017298    0.017298
3  e7f018bb      0.999000      0.998199    0.998199
4  4371c8c3      0.022151      0.657598    0.657598